'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'vk-music'
      'submenu': [
        {
          'label': 'Open'
          'command': 'vk-music:open'
        },
        {
          'label': 'Pause'
          'command': 'vk-music:pause'
        },
        {
          'label': 'Resume'
          'command': 'vk-music:resume'
        },
        {
          'label': 'Next song'
          'command': 'vk-music:next'
        },
        {
          'label': 'Previous song'
          'command': 'vk-music:prev'
        }
      ]
    ]
  }
]
